build/

# Prerequisites
###################
*.d

# Object files
###################
*.o
*.ko
*.obj
*.elf
*.lo
*.slo

# Linker output
###################
*.ilk
*.map
*.exp

# Precompiled Headers
###################
*.gch
*.pch

# Libraries
###################
*.lib
*.a
*.la
*.lo
*.lai
*.so

# Shared objects (inc. Windows DLLs)
###################
*.dll
*.so
*.so.*
*.dylib

# Executables
###################
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
*.bin
bitglass

# Debug files
###################
*.dSYM/
*.su
*.idb
*.pdb

# No Vagrant trash #
####################
.vagrant/

# Project user file #
####################
*.user
*.autosave
*.qmlls.ini
